<!DOCTYPE html>
<html>
<!--
Last update: {{ datetime.now() }}
Time to generate: {{ datetime.now() - start_time }}
-->
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Toolchains</title>

        <link rel="stylesheet" href="http://bootswatch.com/yeti/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style type="text/css" media="all">
.navbar-brand a {
    font-family: 'Ubuntu Mono', sans;
    font-style: italic;
}
.navbar-brand {
    font-weight: bold;
}
</style>
    </head>
    <body>
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <h5 class="navbar-brand">Toolchains <a class="small"
                                      href="http://free-electrons.com"><b>free-electrons</b></a></h5>
                </div>
            </div>
        </div>
<!-- This is the main page -->
        {% set main_release="releases" %}
        <div id="main">
            <div class="panel panel-default container">
                <div class="panel-body">
                    <div class="row mt centered">
                        <div class="col-md-6">
                            <h2>About</h2>

                            <ul>
                                <li> <a href="downloads/{{ main_release }}/licenses">Toolchains licenses</a> </li>
                                <li> <a href="downloads/{{ main_release }}/sources">Toolchains sources</a> </li>
                                <li> <a href="https://github.com/free-electrons/toolchains-builder/issues">Issues</a> </li>
                                <li> Based on <a href="https://buildroot.org/">buildroot</a> </li>
                                <li> <a href="https://github.com/free-electrons/toolchains-builder">https://github.com/free-electrons/toolchains-builder</a> </li>
                                <li> <a href="https://github.com/free-electrons/toolchains-webpage">https://github.com/free-electrons/toolchains-webpage</a> </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Download
                                </div>
                                <div class="panel-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="select_arch">Select arch</label>
                                            <select id="select_arch" class="form-control">
                                                {% for arch in archs[main_release]|sort -%}
                                                <option value="{{ arch }}">{{ arch }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="select_libc">Select libc</label>
                                            <select id="select_libc" class="form-control">
                                            </select>
                                        </div>
                                        <div id="select_version" class="row">
                                        </div>
                                    </form>
                                    <div class="found_toolchain">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script charset="utf-8">
$(document).ready(function() {
    tables = $('table').DataTable( {
        "paging":         false,
        "autoWidth": false
    } );
    toolchains = {{ toolchains_tree[main_release]|to_json }};
    var $select_arch = $('#select_arch');
    var $select_libc = $('#select_libc');
    var $select_version = $('#select_version');
    $select_arch.change(function() {
        $select_libc.empty().append(function() {
            var output = '';
            $.each(toolchains[$select_arch.val()], function(key, value) {
                output += '<option>' + key + '</option>';
            });
            return output;
        }).change();
    }).change();
    $select_libc.change(function() {
        $select_version.empty().append(function() {
            var output = '';
            var nb = Object.keys(toolchains[$select_arch.val()][$select_libc.val()]).length;
            $.each(Object.keys(toolchains[$select_arch.val()][$select_libc.val()]).sort().reverse(), function(index, key) {
                value = toolchains[$select_arch.val()][$select_libc.val()][key];
                toolchain = value[value.length - 1];
                output += '<div class="col-md-' + 12 / nb + '"> ' +
                    '<a href="downloads/{{ main_release }}/toolchains/' + toolchain['name'] + '.tar.bz2" class="center-block btn btn-default" role="button">' +
                    '<div class="h1"><span class="glyphicon glyphicon-download" title="Download"></span></div>' +
                    'Download ' + key + '</a>';
                output += "<small>";
                switch (toolchain['flag']) {
                    case "TEST-OK":
                        output += '<span class="glyphicon glyphicon-ok-sign text-success" title="Tests passed"></span>Tests passed';
                        break;
                    case "SYSTEM-BUILD-FAILED":
                        output += '<span class="glyphicon glyphicon-remove-sign text-danger" title="Build test failed"></span>Build test failed';
                        break;
                    case "CAN-NOT-TEST":
                        output += '<span class="glyphicon glyphicon-question-sign text-info" title="Can not test"></span>Can not test';
                        break;
                    case "NO-BOOT":
                        output += '<span class="glyphicon glyphicon-exclamation-sign text-warning" title="Test system did not boot"></span>Test system did not boot';
                        break;
                }
                output += ' - <a href="downloads/{{ main_release }}/toolchains/' + toolchain['name'] + '.sha256">checksum (sha256)</a>';
                output += "</small>";
                output += '<table class="table table-condensed"><tbody>';
                $.each(toolchain['summary'], function(k, v) {
                    output += '<tr>';
                    output += '<td>' + v[0] + '</td>';
                    output += '<td>' + v[1] + '</td>';
                    output += '</tr>';
                });
                output += '</tbody></table>';
                output += '</div>';


            });
            return output;
        });
    }).change();
});
        </script>
    </body>
</html>
