<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Cross-compilation toolchains for Linux - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style type="text/css" media="all">
.navbar-brand a {
    font-family: 'Ubuntu Mono', sans;
    font-style: italic;
}
.navbar-brand {
    font-weight: bold;
}
    </style>
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container">
	<div class="navbar-header">
	  <a class="navbar-brand" href="/">toolchains<small>.free-electrons.com</small></a>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav">
            <li {% if active_page == "index" %}class="active"{% endif %}><a href="/">About</a></li>
	    <li {% if active_page == "toolchains" %}class="active"{% endif %}><a href="/toolchains.html">Toolchains</a></li>
            <li {% if active_page == "news" %}class="active"{% endif %}><a href="/news.html">News</a></li>
            <li {% if active_page == "faq" %}class="active"{% endif %}><a href="/faq.html">FAQ</a></li>
	  </ul>
	</div>
      </div>
    </div>
    <!-- This is the main page -->
    {% set main_release="releases" %}
    <div id="main">
      <div class="panel container">
	<div class="panel-body">
	  {% block body %}{% endblock %}
	</div>
      </div>
    </div>
  </body>
</html>
