<!DOCTYPE html>
<html>
<!--
Last update: {{ datetime.now() }}
Time to generate: {{ datetime.now() - start_time }}
-->
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Cross-compilation toolchains for Linux - Changelog</title>

        <link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style type="text/css" media="all">
.navbar-brand a {
    font-family: 'Ubuntu Mono', sans;
    font-style: italic;
}
.navbar-brand {
    font-weight: bold;
}
</style>
    </head>
    <body>
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <h5 class="navbar-brand">Toolchains <a class="small"
                                      href="http://free-electrons.com"><b>free-electrons</b></a></h5>
                </div>
            </div>
        </div>
<!-- This is the main page -->
        {% set main_release="releases" %}
        <div id="main">
            <div class="panel container">
                <div class="panel-body">
                    <div class="row mt centered">
                        <div class="col-md-12 text-justify">
                            <h2 style="margin-top: 0px;">Changelog</h2>
                            <p> <a href="/">Return to the toolchains</a></p>
                            <dl>
                            <!--
                                <dt>2017-07-21 - Minor update</dt>
                                <dd>
                                    <p>This release concerns only the bleeding-edge toolchains.</p>
                                    <p>Those toolchains now feature GCC 7.1 and GDB 8.0.</p>
                                </dd>
                            -->
                                <dt>2017-06-19 - First release</dt>
                                <dd>
                                    <p><em>138 toolchains built!</em></p>
                                    <p>The following architectures are available, most of them coming with multiple flavours:
                                    <ul>
                                        <li>aarch64</li>
                                        <li>arc</li>
                                        <li>arm</li>
                                        <li>bfin</li>
                                        <li>m68k</li>
                                        <li>microblaze</li>
                                        <li>mips32</li>
                                        <li>mips64</li>
                                        <li>nios2</li>
                                        <li>openrisc</li>
                                        <li>powerpc</li>
                                        <li>powerpc64</li>
                                        <li>sh4</li>
                                        <li>sparc64</li>
                                        <li>sparcv8</li>
                                        <li>x86</li>
                                        <li>x86-64</li>
                                        <li>xtensa-lx60</li>
                                    </ul>
                                    <p>At least one libc per architecture is available, but you will usually find up to three (glibc, uclibc, and musl).</p>
                                    <p>The toolchains often come in two versions:
                                    <ul>
                                        <li>The stable one features GCC 5.4, binutils 2.27, 3.10 kernel header, and GDB 7.11.</li>
                                        <li>The bleeding-edge one features GCC 6.3, binutils 2.28, 4.9 kernel header, and GDB 7.12.</li>
                                    </ul>
                                    </p>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
