<!DOCTYPE html>
<html>
<!--
Last update: {{ datetime.now() }}
Time to generate: {{ datetime.now() - start_time }}
-->
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Cross-compilation toolchains for Linux</title>

        <link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style type="text/css" media="all">
.navbar-brand a {
    font-family: 'Ubuntu Mono', sans;
    font-style: italic;
}
.navbar-brand {
    font-weight: bold;
}
</style>
    </head>
    <body>
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <h5 class="navbar-brand">Toolchains <a class="small"
                                      href="http://free-electrons.com"><b>free-electrons</b></a></h5>
                </div>
            </div>
        </div>
<!-- This is the main page -->
        {% set main_release="releases" %}
        <div id="main">
            <div class="panel container">
                <div class="panel-body">
                    <div class="row mt centered">
                        <div class="col-md-6 text-justify">
                            <h2 style="margin-top: 0px;">About</h2>
			    <p>This site provides a large number of ready-to-use cross-compilation toolchains, targetting the Linux operating system on a large number of architectures.</p>
			    <p>Based on <a href="http://gcc.gnu.org">gcc</a> and <a href="https://www.gnu.org/software/binutils/">binutils</a>, those toolchains are provided in several variants with the <a href="https://www.gnu.org/software/libc/">glibc</a>, <a href="https://uclibc-ng.org/">uClibc-ng</a> and <a href="http://www.musl-libc.org/">musl</a> C libraries. The toolchains are built using the <a href="http://buildroot.org">Buildroot</a> build system.</p>
			    <p>Most toolchains are tested by building a Linux kernel and Linux userspace, and booting it under Qemu. This is of course not possible on some CPU architectures.</p>
			    <p>For each architecture and C library combination, two versions of the toolchain are provided:</p>
			    <ul>
			      <li><i>stable</i>, which uses older proven versions of the toolchain components</li>
			      <li><i>bleeding-edge</i>, which uses the latest versions of the toolchain components</li>
			    </ul>
			    <p>Useful resources:</p>
                            <ul>
                                <li> <a href="downloads/{{ main_release }}/licenses">License information for the toolchain components</a> </li>
                                <li> <a href="downloads/{{ main_release }}/sources">Source code for the toolchain components</a> </li>
                                <li> <a href="https://github.com/free-electrons/toolchains-builder/issues">Report issues</a> </li>
                                <li> <a href="https://github.com/free-electrons/toolchains-builder">Tool used to build the toolchains</a> </li>
                                <li> <a href="https://github.com/free-electrons/toolchains-webpage">This webpage</a> </li>
                            </ul>
                <p>Questions: checkout the <a href="faq.html">FAQ</a>, or <a href="mailto:info@free-electrons.com">contact us!</a></p>
                <p>You can also have a look at the <a href="changelog.html">changelog</a>.</p>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Download
                                </div>
                                <div class="panel-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="select_arch">Select arch</label>
                                            <select id="select_arch" class="form-control">
                                                {% for arch in toolchains.arch_list(main_release)|sort -%}
                                                <option value="{{ arch }}">{{ arch }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="select_libc">Select libc</label>
                                            <select id="select_libc" class="form-control">
                                            </select>
                                        </div>
                                        <div id="select_version" class="row">
                                        </div>
                                    </form>
                                    <div class="found_toolchain">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script charset="utf-8">
$(document).ready(function() {
    tables = $('table').DataTable( {
        "paging":         false,
        "autoWidth": false
    } );
    toolchains = {{ toolchains.get_tree(main_release)|to_json }};
    var $select_arch = $('#select_arch');
    var $select_libc = $('#select_libc');
    var $select_version = $('#select_version');
    $select_arch.change(function() {
        $select_libc.empty().append(function() {
            var output = '';
            $.each(toolchains[$select_arch.val()], function(key, value) {
                output += '<option>' + key + '</option>';
            });
            return output;
        }).change();
    }).change();
    $select_libc.change(function() {
        $select_version.empty().append(function() {
            var output = '';
            var nb = Object.keys(toolchains[$select_arch.val()][$select_libc.val()]).length;
            $.each(Object.keys(toolchains[$select_arch.val()][$select_libc.val()]).sort().reverse(), function(index, key) {
                value = toolchains[$select_arch.val()][$select_libc.val()][key];
                toolchain = value[value.length - 1];
                output += '<div class="col-md-' + 12 / nb + '"> ' +
                    '<a href="downloads/{{ main_release }}/toolchains/' + toolchain['arch'] + '/tarballs/' + toolchain['name'] + '.tar.bz2" class="center-block btn btn-default" role="button">' +
                    '<div class="h1"><span class="glyphicon glyphicon-download" title="Download"></span></div>' +
                    'Download ' + key + '</a>';
                output += "<small>";
                switch (toolchain['flag']) {
                    case "TEST-OK":
                        output += '<span data-toggle="tooltip" data-original-title="' +
                            'This toolchain has been built, and the test system built with it has successfully booted. ' +
                            'This doesn\'t mean that this toolchain will work in every cases, but it is at least capable of building a Linux kernel with a basic rootfs that boots.' +
                            '" data-placement="bottom"> ' +
                            '<span class="glyphicon glyphicon-ok-sign text-success"></span> Tests passed</span>';
                        break;
                    case "SYSTEM-BUILD-FAILED":
                        output += '<span data-toggle="tooltip" data-original-title="' +
                            'This toolchain has been built, but the test system failed to build with it. ' +
                            'This doesn\'t mean that this toolchain doesn\'t work, just that it hasn\'t been successfully tested.' +
                            '" data-placement="bottom"> ' +
                            '<span class="glyphicon glyphicon-remove-sign text-danger" title="Build test failed"></span> Build test failed</span>';
                        break;
                    case "CAN-NOT-TEST":
                        output += '<span data-toggle="tooltip" data-original-title="' +
                            'This toolchain has been built, but our infrastructure does not contain enough information to test it. ' +
                            'This doesn\'t mean that this toolchain doesn\'t work, just that it hasn\'t been fully tested.' +
                            '" data-placement="bottom"> ' +
                            '<span class="glyphicon glyphicon-question-sign text-info" title="Could not test"></span> Could not test</span>';
                        break;
                    case "NO-BOOT":
                        output += '<span data-toggle="tooltip" data-original-title="' +
                            'This toolchain has been built, but the test system built with it failed to boot. ' +
                            'This doesn\'t mean that this toolchain doesn\'t work, just that it hasn\'t been successfully tested.' +
                            '" data-placement="bottom"> ' +
                            '<span class="glyphicon glyphicon-exclamation-sign text-warning" title="Test system did not boot"></span> Test system did not boot</span>';
                        break;
                }
                output += '<br><a href="/downloads/{{ main_release }}/toolchains/' + toolchain['arch'] + '/tarballs/' + toolchain['name'] + '.sha256">checksum (sha256)</a>';
                output += "</small>";
                output += '<table class="table table-condensed"><tbody>';
                $.each(toolchain['summary'], function(k, v) {
                    output += '<tr>';
                    output += '<td>' + v[0] + '</td>';
                    output += '<td>' + v[1] + '</td>';
                    output += '</tr>';
                });
                output += '</tbody></table>';
                output += '</div>';


            });
            output += '<div class="col-md-12"><a href="{{ main_release }}_' + $select_arch.val() + '.html">View all ' + $select_arch.val() + ' toolchains</div>';
            return output;
        });
        $('[data-toggle="tooltip"]').tooltip();
    }).change();
});
        </script>
    </body>
</html>
