{% extends "templates/base.jinja" %}

{% block title %}News{% endblock %}
{% set active_page = "news" %}

{% block body %}
<div class="row mt centered">
  <div class="col-md-12 text-justify">
    <h2 style="margin-top: 0px;">News</h2>
    <dl>
      <dt>2024-08-18 - 2024.05 toolchains released</dt>
      <dd>
        <p>Publication of toolchains updated to Buildroot 2024.05 and
        a number of extra patches, which now means that:</p>
	<ul>
	  <li>The <i>bleeding-edge</i> toolchains are based on gcc 14.2,
	  binutils 2.42, gdb 15.1, kernel headers 5.15, glibc 2.39, musl
	    1.2.5 or uclibc-ng 1.0.50.</li>
	  <li>The <i>stable</i> toolchains are based on gcc 13.3,
	  binutils 2.41, gdb 14.2, kernel headers 4.19, glibc 2.39,
	    musl 1.2.5 or uclibc-ng 1.0.50.</li>
	</ul>

	<p>Also worth noting:</p>
	<ul>
	  <li>The toolchain tarballs are now xz-compressed instead of
	    bz2-compressed</li>
	  <li>The toolchain tarballs are cleaned up from a lot of
	    useless files that resulted only from the Buildroot build
	    process but are in fact not needed for the toolchain itself</li>
	  <li>The <i>sparcv8</i> toolchain is back, as support for
	    this architecture has been resurrected in upstream
	    Buildroot.</li>
	  <li>There are now toolchains for the <i>s390x</i> built
	    using the musl C library, since support for this
	    architecture was merged in upstream musl</li>
	  <li>There are now toolchains for the <i>riscv32-ilp32d</i>
	    built using the uClibc-ng C library, since support for this
	    architecture was merged in upstream uClibc-ng</li>
	</ul>
      </dd>

      <dt>2024-03-03 - 2024.02 toolchains released</dt>
      <dd>
        <p>Publication of toolchains updated to Buildroot 2024.02 and
        a number of extra patches, which now means that:</p>
	<ul>
	  <li>The <i>bleeding-edge</i> toolchains are based on gcc 13.2,
	  binutils 2.42, gdb 14.1, kernel headers 5.15, glibc 2.39, musl
	    1.2.5 or uclibc-ng 1.0.45.</li>
	  <li>The <i>stable</i> toolchains are based on gcc 12.3,
	  binutils 2.41, gdb 13.2, kernel headers 4.19, glibc 2.39,
	    musl 1.2.5 or uclibc-ng 1.0.45.</li>
	</ul>

	<p>Also worth noting:</p>
	<ul>
	  <li>There are now toolchains for <i>RISC-V 32-bit</i> with
	  the <i>musl</i> C library, as this is a new feature
	  from <i>musl 1.2.5</i></li>
	</ul>
      </dd>

      <dt>2023-12-27 - 2023.11 toolchains released</dt>
      <dd>
        <p>Publication of toolchains updated to Buildroot 2023.11, which now means that:</p>
	<ul>
	  <li>The <i>bleeding-edge</i> toolchains are based on gcc 13.2,
	  binutils 2.41, gdb 14.1, kernel headers 5.10, glibc 2.38, musl
	    1.2.4 or uclibc-ng 1.0.45.</li>
	  <li>The <i>stable</i> toolchains are based on gcc 12.3,
	  binutils 2.40, gdb 13.2, kernel headers 4.14, glibc 2.38,
	    musl 1.2.4 or uclibc-ng 1.0.45.</li>
	</ul>

	<p>Also worth noting:</p>
	<ul>
	  <li>The glibc version is no longer affected by
	  CVE-2023-4911</li>
	  <li>The <i>gdb</i> build has been fixed to no longer rely on
	    uninstalled libbfd.so and libopcodes.so libraries</li>
	  <li>The <i>zlib</i> library, which was incorrectly present
	  in the toolchain <i>sysroot</i>, is gone, fixing various
	  build failures encountered with 2023.08 toolchains.</li>
	  <li>There are now toolchains for <i>m68k 68xxx</i> based
	  on <i>uclibc</i> and <i>musl</i> in addition
	  to <i>glibc</i>, which was already supported</li>
	</ul>
      </dd>

      <dt>2023-08-05 - 2023.08 toolchains released</dt>
      <dd>
        <p>Publication of toolchains updated to Buildroot 2023.08 beta, which now means that:</p>
	<ul>
	  <li>The <i>bleeding-edge</i> toolchains are based on gcc 13.2,
	  binutils 2.41, gdb 13.2, kernel headers 5.10, glibc 2.37, musl
	    1.2.4 or uclibc-ng 1.0.43.</li>
	  <li>The <i>stable</i> toolchains are based on gcc 12.3,
	  binutils 2.40, gdb 12.1, kernel headers 4.14, glibc 2.37,
	    musl 1.2.4 or uclibc-ng 1.0.43.</li>
	</ul>
	<p>The <i>sparcv8</i> toolchain has been marked obsolete as
	it's no longer possible to build a functional SPARCv8
	toolchain with recent versions of GCC.</p>
      </dd>
      <dt>2022-09-24 - 2022.08 toolchains released</dt>
      <dd>

	<p>Publication of toolchains updated to Buildroot 2022.08, which now means that:</p>
	<ul>
	  <li>The <i>bleeding-edge</i> toolchains are based on gcc 12,
	  binutils 2.39, gdb 12, kernel headers 5.4, glibc 2.35 or
	    musl 1.2.3 or uclibc-ng 1.0.42.</li>
	  <li>The <i>stable</i> toolchains are based on gcc 11,
	    binutils 2.38, gdb 11, kernel headers 4.9, glibc 2.35 or
	    musl 1.2.3 or uclibc-ng 1.0.42</li>
	</ul>

	<p>We also have a few new toolchains that appeared:</p>
	<ul>
	  <li>Toolchains for the OpenRISC CPU architecture, based on the glibc C library</li>
	  <li>We now have both <i>stable</i> and <i>bleeding-edge</i>
	  toolchains for the <i>x86-64-v2</i>, <i>x86-64-v3</i>
	  and <i>x86-64-v4</i> architecture variants. We used to have
	  only <i>bleeding-edge</i> toolchains for these variants as
	  only the latest gcc had support for them.</li>
	</ul>

	<p>The only toolchain that was not updated is m68k Coldfire,
	  as we have a regression on <i>elf2flt</i>. This will hopefull
	  be adressed in the future.</p>

      </dd>
      <dt>2022-01-24 - New <i>x86-64</i> toolchains</dt>
      <dd>
        <p>So far, we had a single toolchain targeting
        the <i>x86-64</i> architecture,
        named <a href="https://toolchains.bootlin.com/releases_x86-64-core-i7.html">x86-64-core-i7</a>. However,
        this toolchain was either compiled with too recent
        instructions for some platforms, or not sufficiently optimized
          for others.</p>

	<p>There has been some recent work to standardize some
	specific "levels" of the <i>x86-64</i> architecture, which
	have been defined in
	the <a href="https://gitlab.com/x86-psABIs/x86-64-ABI/">psABI
	spec</a> and are supported starting from gcc
	  11.x: <code>x86-64</code>, <code>x86-64-v2</code>,
	  <code>x86-64-v3</code>, <code>x86-64-v4</code>. See also
	  this <a href="https://www.phoronix.com/scan.php?page=news_item&px=GCC-11-x86-64-Feature-Levels">Phoronix</a>
	  article for some more details.</p>

	<p>We are now happy to be offering our toolchains targeting
	  these four <i>x86-64</i> architecture levels:</p>

	<ul>
	  <li>The <a href="https://toolchains.bootlin.com/releases_x86-64.html">x86-64</a>
	  toolchain, which is the most generic, and will work on
	  all <i>x86-64</i> platforms, starting with Opteron. It only
	  uses MMX, SSE and SSE2.</li>
	  <li>The <a href="https://toolchains.bootlin.com/releases_x86-64-v2.html">x86-64-v2</a>
	  toolchain, which corresponds to the Nehalem generation of
	  Intel CPUs. It uses MMX, SSE, SSE2, SSE3, SSSE3, SSE4,
	  SSE4.2.</li>
	  <li>The <a href="https://toolchains.bootlin.com/releases_x86-64-v3.html">x86-64-v3</a>
	  toolchain, which corresponds to the Haswell generation of
	  Intel CPUs. It uses MMX, SSE, SSE2, SSE3, SSSE3, SSE4,
	  SSE4.2, AVX, AVX2</li>
	  <li>The <a href="https://toolchains.bootlin.com/releases_x86-64-v4.html">x86-64-v4</a>
	  toolchain. It uses MMX, SSE, SSE2, SSE3, SSSE3, SSE4,
	    SSE4.2, AVX, AVX2, AVX512</li>
	</ul>

	<p>With these new toolchains available for <i>x86-64</i>, we
	expect to stop maintain the <i>x86-64-core-i7</i> toolchain in
	the future.</p>
      </dd>

      <dt>2021-12-27 - 2021.11 toolchains released, new toolchains</dt>
      <dd>
	<p>All toolchains have been updated to be built with Buildroot
	  2021.11, and some additional updates and fixes. This means
	  that we are now using:</p>
	<ul>
	  <li>For stable toolchains: gcc 10.3.0, binutils 2.36.1, Linux
	  headers 4.9, gdb 10.2, glibc 2.34, uClibc 1.0.39 and musl
	    1.2.2</li>
	  <li>For bleeding-edge toolchains: gcc 11.2, binutils
	  2.37, Linux headers 5.4, gdb 11.1, glibc 2.34, uClibc
	    1.0.39 and musl 1.2.2</li>
	</ul>

	<p>The <code>riscv64</code> toolchains have been replaced by
	<code>riscv64-lp64d</code> toolchains, making them more
	generally useful.</p>

	<p>Runtime testing using Qemu has been added for RISC-V
	64-bit, m68k-68xxx and OpenRISC.</p>

	<p>The <i>gdb</i> cross-debugger is now compiled with both
	Python and TUI support.</p>

	<p>Internally, there's been some significant refactoring of
	the scripts and Gitlab CI pipelines that control the build and
	testing of those toolchains. Many thanks to Romain Naour for
	providing the ground work that enabled this refactoring.</p>
      </dd>
      <dt>2020-10-01 - 2020.08 toolchains released, new toolchains</dt>
      <dd>
	<p>All toolchains have been updated to be built with Buildroot
	  2020.08, and some additional updates and fixes. This means
	  that we are now using:</p>
	<ul>
	  <li>For stable toolchains: gcc 9.3.0, binutils 2.33.1, Linux
	  headers 4.9, gdb 8.3.1, glibc 2.31, uClibc 1.0.34 and musl
	    1.2.0</li>
	  <li>For bleeding-edge toolchains: gcc 10.2.0, binutils
	  2.34, Linux headers 5.4, gdb 9.2, glibc 2.31, uClibc
	    1.0.34 and musl 1.2.0</li>
	</ul>

	<p>In addition, we have new toolchains available for a number
	of additional CPU variants: for <a
	href="https://toolchains.bootlin.com/releases_powerpc64-e6500.html">powerpc64-e6500</a>,
	<a
	href="https://toolchains.bootlin.com/releases_powerpc-e300c3.html">powerpc-e300c3</a>
	and <a
	href="https://toolchains.bootlin.com/releases_powerpc-440fp.html">powerpc-440fp</a>.</p>

	<p>Finally, boot testing in Qemu has been extended to cover
	PowerPC64 E5500, NIOSII and m68k MCF5208.</p>
      </dd>
      <dt>2020-04-03 - All toolchains updated</dt>
      <dd>
	<p>All toolchains have been updated to be built with Buildroot
	  2020.02. This means that we are now using:</p>
	<ul>
	  <li>For stable toolchains: gcc 8.4.0, binutils 2.32, Linux
	  headers 4.4, gdb 8.2.1, glibc 2.30, uClibc 1.0.32 and musl
	    1.1.24</li>
	  <li>For bleeding-edge toolchains: gcc 9.3.0, binutils
	  2.33.1, Linux headers 4.19, gdb 8.3, glibc 2.30, uClibc
	    1.0.32 and musl 1.1.24</li>
	</ul>
      </dd>
      <dt>2018-07-17 - Bleeding-edge toolchain updates: Binutils 2.31, ncurses fix</dt>
      <dd>
	<p>Bleeding edge toolchains have been updated to use Binutils
	2.31, which
	was <a href="https://sourceware.org/ml/binutils/2018-07/msg00213.html">released
	a few days ago</a>. Only a few toolchains have not been
	updated: <i>ARMv7-M</i>, <i>m68k Coldfire</i>
	and <i>Xtensa</i>, due to issues building with binutils
	2.31. Those issues will be fixed soon and the corresponding
	  toolchains will be rebuilt accordingly.</p>
	<p>In addition, the <i>ncurses</i> library configuration has
	been fixed to use the <i>terminfo</i> files from the host
	machine, which should fix usability
	of <i>gdb</i>. See <a href="https://git.buildroot.org/buildroot/commit/?id=b35ad5d0b45e5288f4019aeaa06b87ef0f2ef016">this
	Buildroot commit</a> for details.</p>
      </dd>
      <dt>2018-06-25 - Bleeding-edge toolchain updates: GCC 8.1, GDB 8.1</dt>
      <dd>
	<p>Bleeding edge toolchains have been updated to GCC 8.1.0,
	  Binutils 2.30, GDB 8.1, Linux headers 4.14 and glibc 2.26,
	  musl 1.1.19 or uClibc-ng 1.0.30.</p>

	<p>See
	  our <a href="https://bootlin.com/blog/bleeding-edge-toolchains-updated/">blog
	    post</a>.</p>
      </dd>
      <dt>2018-03-29 - Toolchain updates</dt>
      <dd>
        <p>Stable toolchains have been updated to GCC 6.4.0, Binutils
        2.29.1, GDB 7.11.1, Linux headers 4.1 and glibc 2.26, musl
          1.1.18 or uClibc-ng 1.0.28.</p>
	<p>Bleeding edge toolchains have been updated to GCC 7.3.0,
	Binutils 2.30, GDB 8.0.1, Linux headers 4.9 and glibc 2.27,
	  musl 1.1.18 or uClibc-ng 1.0.28.</p>
	<p>Qemu testing for PowerPC64 Little Endian was added.</p>
	<p>See
	our <a href="https://bootlin.com/blog/bootlin-toolchains-updated-2018-02-version/">blog
	post</a>.</p>
      </dd>
      <dt>2017-08-16 - Toolchain updates</dt>
      <dd>
        <p>All bleeding edge toolchains have been rebuilt with GCC
        7.2.0, binutils 2.29, GDB 8.0. The glibc bleeding edge
        toolchains are now using glibc 2.26.</p>

	<p>The bleeding edge toolchains are now built in a Debian
	Jessie environment, so they require glibc 2.14 at least on the
	host machine.</p>

	<p>Stable toolchains have also seen a few updates:</p>
	<ul>
	  <li><code>armv7m</code> and <code>m68k-coldfire</code>
	    toolchains rebuilt with a fix in elf2flt.</li>
	  <li><code>mips32r5</code> toolchain is now built with NaN
	    2008 encoding, which is compliant with the Linux kernel
	    expection for this architecture variant.</li>
	</ul>
      </dd>
      <dt>2017-06-19 - First release</dt>
      <dd>
        <p><em>138 toolchains built!</em></p>
        <p>The following architectures are available, most of them coming with multiple flavours:
          <ul>
            <li>aarch64</li>
            <li>arc</li>
            <li>arm</li>
            <li>bfin</li>
            <li>m68k</li>
            <li>microblaze</li>
            <li>mips32</li>
            <li>mips64</li>
            <li>nios2</li>
            <li>openrisc</li>
            <li>powerpc</li>
            <li>powerpc64</li>
            <li>sh4</li>
            <li>sparc64</li>
            <li>sparcv8</li>
            <li>x86</li>
            <li>x86-64</li>
            <li>xtensa-lx60</li>
          </ul>
        <p>At least one libc per architecture is available, but you will usually find up to three (glibc, uclibc, and musl).</p>
        <p>The toolchains often come in two versions:
          <ul>
            <li>The stable one features GCC 5.4, binutils 2.27, 3.10 kernel header, and GDB 7.11.</li>
            <li>The bleeding-edge one features GCC 6.3, binutils 2.28, 4.9 kernel header, and GDB 7.12.</li>
          </ul>
        </p>
      </dd>
    </dl>
  </div>
</div>
{% endblock %}
