{% extends "templates/base.jinja" %}

{% block title %}News{% endblock %}
{% set active_page = "news" %}

{% block body %}
<div class="row mt centered">
  <div class="col-md-12 text-justify">
    <h2 style="margin-top: 0px;">News</h2>
    <dl>
      <dt>2021-12-27 - 2021.11 toolchains released, new toolchains</dt>
      <dd>
	<p>All toolchains have been updated to be built with Buildroot
	  2021.11, and some additional updates and fixes. This means
	  that we are now using:</p>
	<ul>
	  <li>For stable toolchains: gcc 10.3.0, binutils 2.36.1, Linux
	  headers 4.9, gdb 10.2, glibc 2.34, uClibc 1.0.39 and musl
	    1.2.2</li>
	  <li>For bleeding-edge toolchains: gcc 11.2, binutils
	  2.37, Linux headers 5.4, gdb 11.1, glibc 2.34, uClibc
	    1.0.39 and musl 1.2.2</li>
	</ul>

	<p>The <code>riscv64</code> toolchains have been replaced by
	<code>riscv64-lp64d</code> toolchains, making them more
	generally useful.</p>

	<p>Runtime testing using Qemu has been added for RISC-V
	64-bit, m68k-68xxx and OpenRISC.</p>

	<p>The <i>gdb</i> cross-debugger is now compiled with both
	Python and TUI support.</p>

	<p>Internally, there's been some significant refactoring of
	the scripts and Gitlab CI pipelines that control the build and
	testing of those toolchains. Many thanks to Romain Naour for
	providing the ground work that enabled this refactoring.</p>
      </dd>
      <dt>2020-10-01 - 2020.08 toolchains released, new toolchains</dt>
      <dd>
	<p>All toolchains have been updated to be built with Buildroot
	  2020.08, and some additional updates and fixes. This means
	  that we are now using:</p>
	<ul>
	  <li>For stable toolchains: gcc 9.3.0, binutils 2.33.1, Linux
	  headers 4.9, gdb 8.3.1, glibc 2.31, uClibc 1.0.34 and musl
	    1.2.0</li>
	  <li>For bleeding-edge toolchains: gcc 10.2.0, binutils
	  2.34, Linux headers 5.4, gdb 9.2, glibc 2.31, uClibc
	    1.0.34 and musl 1.2.0</li>
	</ul>

	<p>In addition, we have new toolchains available for a number
	of additional CPU variants: for <a
	href="https://toolchains.bootlin.com/releases_powerpc64-e6500.html">powerpc64-e6500</a>,
	<a
	href="https://toolchains.bootlin.com/releases_powerpc-e300c3.html">powerpc-e300c3</a>
	and <a
	href="https://toolchains.bootlin.com/releases_powerpc-440fp.html">powerpc-440fp</a>.</p>

	<p>Finally, boot testing in Qemu has been extended to cover
	PowerPC64 E5500, NIOSII and m68k MCF5208.</p>
      </dd>
      <dt>2020-04-03 - All toolchains updated</dt>
      <dd>
	<p>All toolchains have been updated to be built with Buildroot
	  2020.02. This means that we are now using:</p>
	<ul>
	  <li>For stable toolchains: gcc 8.4.0, binutils 2.32, Linux
	  headers 4.4, gdb 8.2.1, glibc 2.30, uClibc 1.0.32 and musl
	    1.1.24</li>
	  <li>For bleeding-edge toolchains: gcc 9.3.0, binutils
	  2.33.1, Linux headers 4.19, gdb 8.3, glibc 2.30, uClibc
	    1.0.32 and musl 1.1.24</li>
	</ul>
      </dd>
      <dt>2018-07-17 - Bleeding-edge toolchain updates: Binutils 2.31, ncurses fix</dt>
      <dd>
	<p>Bleeding edge toolchains have been updated to use Binutils
	2.31, which
	was <a href="https://sourceware.org/ml/binutils/2018-07/msg00213.html">released
	a few days ago</a>. Only a few toolchains have not been
	updated: <i>ARMv7-M</i>, <i>m68k Coldfire</i>
	and <i>Xtensa</i>, due to issues building with binutils
	2.31. Those issues will be fixed soon and the corresponding
	  toolchains will be rebuilt accordingly.</p>
	<p>In addition, the <i>ncurses</i> library configuration has
	been fixed to use the <i>terminfo</i> files from the host
	machine, which should fix usability
	of <i>gdb</i>. See <a href="https://git.buildroot.org/buildroot/commit/?id=b35ad5d0b45e5288f4019aeaa06b87ef0f2ef016">this
	Buildroot commit</a> for details.</p>
      </dd>
      <dt>2018-06-25 - Bleeding-edge toolchain updates: GCC 8.1, GDB 8.1</dt>
      <dd>
	<p>Bleeding edge toolchains have been updated to GCC 8.1.0,
	  Binutils 2.30, GDB 8.1, Linux headers 4.14 and glibc 2.26,
	  musl 1.1.19 or uClibc-ng 1.0.30.</p>

	<p>See
	  our <a href="https://bootlin.com/blog/bleeding-edge-toolchains-updated/">blog
	    post</a>.</p>
      </dd>
      <dt>2018-03-29 - Toolchain updates</dt>
      <dd>
        <p>Stable toolchains have been updated to GCC 6.4.0, Binutils
        2.29.1, GDB 7.11.1, Linux headers 4.1 and glibc 2.26, musl
          1.1.18 or uClibc-ng 1.0.28.</p>
	<p>Bleeding edge toolchains have been updated to GCC 7.3.0,
	Binutils 2.30, GDB 8.0.1, Linux headers 4.9 and glibc 2.27,
	  musl 1.1.18 or uClibc-ng 1.0.28.</p>
	<p>Qemu testing for PowerPC64 Little Endian was added.</p>
	<p>See
	our <a href="https://bootlin.com/blog/bootlin-toolchains-updated-2018-02-version/">blog
	post</a>.</p>
      </dd>
      <dt>2017-08-16 - Toolchain updates</dt>
      <dd>
        <p>All bleeding edge toolchains have been rebuilt with GCC
        7.2.0, binutils 2.29, GDB 8.0. The glibc bleeding edge
        toolchains are now using glibc 2.26.</p>

	<p>The bleeding edge toolchains are now built in a Debian
	Jessie environment, so they require glibc 2.14 at least on the
	host machine.</p>

	<p>Stable toolchains have also seen a few updates:</p>
	<ul>
	  <li><code>armv7m</code> and <code>m68k-coldfire</code>
	    toolchains rebuilt with a fix in elf2flt.</li>
	  <li><code>mips32r5</code> toolchain is now built with NaN
	    2008 encoding, which is compliant with the Linux kernel
	    expection for this architecture variant.</li>
	</ul>
      </dd>
      <dt>2017-06-19 - First release</dt>
      <dd>
        <p><em>138 toolchains built!</em></p>
        <p>The following architectures are available, most of them coming with multiple flavours:
          <ul>
            <li>aarch64</li>
            <li>arc</li>
            <li>arm</li>
            <li>bfin</li>
            <li>m68k</li>
            <li>microblaze</li>
            <li>mips32</li>
            <li>mips64</li>
            <li>nios2</li>
            <li>openrisc</li>
            <li>powerpc</li>
            <li>powerpc64</li>
            <li>sh4</li>
            <li>sparc64</li>
            <li>sparcv8</li>
            <li>x86</li>
            <li>x86-64</li>
            <li>xtensa-lx60</li>
          </ul>
        <p>At least one libc per architecture is available, but you will usually find up to three (glibc, uclibc, and musl).</p>
        <p>The toolchains often come in two versions:
          <ul>
            <li>The stable one features GCC 5.4, binutils 2.27, 3.10 kernel header, and GDB 7.11.</li>
            <li>The bleeding-edge one features GCC 6.3, binutils 2.28, 4.9 kernel header, and GDB 7.12.</li>
          </ul>
        </p>
      </dd>
    </dl>
  </div>
</div>
{% endblock %}
